.textFillAnimation {
  path {
    fill: transparent;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: textAnimation 5s ease-in-out 1 forwards;
  }
}

@keyframes textAnimation {
  0% {
    stroke-dashoffset: 2000;
  }
  70% {
    fill: transparent;
  }
  100% {
    fill: currentColor;
    stroke-dashoffset: 0;
  }
}

.profileImage {
  animation: fromBlur 2s ease-in-out forwards;
}

@keyframes fromBlur {
  from {
    filter: blur(8px);
    opacity: 0;
  }
}

.textContainer {
  animation: expanding 3.5s ease-in-out forwards;
}

@keyframes expanding {
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.typingTextAnimation {
  animation:
    typing 3s linear 3.3s,
    cursor 0.4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

.mouseWheel {
  animation: scrollDown 1.5s ease-in infinite;
}

@keyframes scrollDown {
  from {
    opacity: 0.4;
    top: 6px;
  }
  10%,
  90% {
    opacity: 1;
  }
  to {
    opacity: 0.4;
    top: 12px;
  }
}
