.textFillAnimation {
  path {
    fill: transparent;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: textAnimation 5s ease-in-out 1 forwards;
  }
}

.spaceImage {
  animation: fromBlur 4s ease-in-out forwards;
}

@keyframes fromBlur {
  from {
    scale: 2;
    filter: blur(20px);
    opacity: 0;
  }
  to {
    scale: 1.4;
    filter: blur(1px);
    opacity: 1;
  }
}

@keyframes textAnimation {
  0% {
    stroke-dashoffset: 2000;
  }
  70% {
    fill: transparent;
  }
  100% {
    fill: currentColor;
    stroke-dashoffset: 0;
  }
}

.textContainer {
  animation: expanding 3.5s ease-in-out forwards;
}

@keyframes expanding {
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.typingTextAnimation {
  animation: typing 3s steps(18) 3.3s, cursor .4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}
