.technologies {
  &:hover {
    .technology:not(:hover) {
      filter: grayscale(1) blur(4px);
    }
  }
}

.technology {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  transition: transform 1s ease, filter 1s ease, opacity 1s ease;

  &.atScreen {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;

    &:first-of-type, &:last-of-type {
      transition-delay: 1.5s;
    }

    &:nth-of-type(2), &:nth-of-type(4) {
      transition-delay: 1s;
    }

    &:nth-of-type(3) {
      transition-delay: 0.5s;
    }
  }

  &:hover {
    scale: 1.3;
    transition: scale 0.3s ease !important;
  }
}
