@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: #171717;
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
}

//html {
//  &[class*="light"] {
//    background-color: var(--background);
//
//    body {
//      background-image: repeating-linear-gradient(to right, transparent 0 49px, rgba(238, 238, 238, 0.8) 49px 50px), repeating-linear-gradient(to bottom, transparent 0 49px, rgba(238, 238, 238, 0.87) 49px 50px);
//    }
//  }
//
//  &[class*="dark"] {
//    background-color: var(--background);
//
//    body {
//      background-image: repeating-linear-gradient(to right, transparent 0 49px, #eee1 49px 50px), repeating-linear-gradient(to bottom, transparent 0 49px, #eee1 49px 50px);
//    }
//  }
//}

.fromBlurAppear {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  transition: all 1s ease;

  &.atScreen {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
